{
  "swagger": "2.0",
  "info": {
    "description": "The Gemini API allows developers to build generative AI applications using Gemini models. Gemini is our most capable model, built from the ground up to be multimodal. It can generalize and seamlessly understand, operate across, and combine different types of information including language, images, audio, video, and code. You can use the Gemini API for use cases like reasoning across text and images, content generation, dialogue agents, summarization and classification systems, and more.",
    "title": "Generative Language API",
    "version": "v1beta",
    "x-google-revision": "20250715"
  },
  "host": "generativelanguage.googleapis.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v1beta/batches": {
      "parameters": [
        {
          "default": "json",
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "$alt",
          "type": "string",
          "x-google-enum-descriptions": [
            "Responses with Content-Type of application/json",
            "Media download with context-dependent Content-Type",
            "Responses with Content-Type of application/x-protobuf"
          ]
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "$callback",
          "type": "string"
        },
        {
          "default": "true",
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "$prettyPrint",
          "type": "boolean"
        },
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string",
          "x-google-enum-descriptions": [
            "v1 error format",
            "v2 error format"
          ]
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The standard list filter.",
            "in": "query",
            "name": "filter",
            "type": "string"
          },
          {
            "description": "The standard list page size.",
            "format": "int32",
            "in": "query",
            "name": "pageSize",
            "type": "integer"
          },
          {
            "description": "The standard list page token.",
            "in": "query",
            "name": "pageToken",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/ListOperationsResponse"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Lists operations that match the specified filter in the request. If the\nserver doesn't support this method, it returns `UNIMPLEMENTED`.",
        "operationId": "ListOperationsBy",
        "x-google-operation-name": "ListOperations"
      }
    },
    "/v1beta/batches/{generateContentBatch}": {
      "parameters": [
        {
          "default": "json",
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "$alt",
          "type": "string",
          "x-google-enum-descriptions": [
            "Responses with Content-Type of application/json",
            "Media download with context-dependent Content-Type",
            "Responses with Content-Type of application/x-protobuf"
          ]
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "$callback",
          "type": "string"
        },
        {
          "default": "true",
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "$prettyPrint",
          "type": "boolean"
        },
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string",
          "x-google-enum-descriptions": [
            "v1 error format",
            "v2 error format"
          ]
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "generateContentBatch",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Deletes a long-running operation. This method indicates that the client is\nno longer interested in the operation result. It does not cancel the\noperation. If the server doesn't support this method, it returns\n`google.rpc.Code.UNIMPLEMENTED`.",
        "operationId": "DeleteOperation"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "generateContentBatch",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice.",
        "operationId": "GetOperationByGenerateContentBatch",
        "x-google-operation-name": "GetOperation"
      }
    },
    "/v1beta/batches/{generateContentBatch}:cancel": {
      "parameters": [
        {
          "default": "json",
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "$alt",
          "type": "string",
          "x-google-enum-descriptions": [
            "Responses with Content-Type of application/json",
            "Media download with context-dependent Content-Type",
            "Responses with Content-Type of application/x-protobuf"
          ]
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "$callback",
          "type": "string"
        },
        {
          "default": "true",
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "$prettyPrint",
          "type": "boolean"
        },
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string",
          "x-google-enum-descriptions": [
            "v1 error format",
            "v2 error format"
          ]
        }
      ],
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "generateContentBatch",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Starts asynchronous cancellation on a long-running operation.  The server\nmakes a best effort to cancel the operation, but success is not\nguaranteed.  If the server doesn't support this method, it returns\n`google.rpc.Code.UNIMPLEMENTED`.  Clients can use\nOperations.GetOperation or\nother methods to check whether the cancellation succeeded or whether the\noperation completed despite cancellation. On successful cancellation,\nthe operation is not deleted; instead, it becomes an operation with\nan Operation.error value with a google.rpc.Status.code of `1`,\ncorresponding to `Code.CANCELLED`.",
        "operationId": "CancelOperation"
      }
    },
    "/v1beta/cachedContents": {
      "parameters": [
        {
          "default": "json",
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "$alt",
          "type": "string",
          "x-google-enum-descriptions": [
            "Responses with Content-Type of application/json",
            "Media download with context-dependent Content-Type",
            "Responses with Content-Type of application/x-protobuf"
          ]
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "$callback",
          "type": "string"
        },
        {
          "default": "true",
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "$prettyPrint",
          "type": "boolean"
        },
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string",
          "x-google-enum-descriptions": [
            "v1 error format",
            "v2 error format"
          ]
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Optional. The maximum number of cached contents to return. The service may return\nfewer than this value.\nIf unspecified, some default (under maximum) number of items will be\nreturned.\nThe maximum value is 1000; values above 1000 will be coerced to 1000.",
            "format": "int32",
            "in": "query",
            "name": "pageSize",
            "type": "integer"
          },
          {
            "description": "Optional. A page token, received from a previous `ListCachedContents` call.\nProvide this to retrieve the subsequent page.\n\nWhen paginating, all other parameters provided to `ListCachedContents` must\nmatch the call that provided the page token.",
            "in": "query",
            "name": "pageToken",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/ListCachedContentsResponse"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Lists CachedContents.",
        "operationId": "ListCachedContents"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Required. The cached content to create.",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CachedContent"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/CachedContent"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Creates CachedContent resource.",
        "operationId": "CreateCachedContent"
      }
    },
    "/v1beta/cachedContents/{id}": {
      "parameters": [
        {
          "default": "json",
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "$alt",
          "type": "string",
          "x-google-enum-descriptions": [
            "Responses with Content-Type of application/json",
            "Media download with context-dependent Content-Type",
            "Responses with Content-Type of application/x-protobuf"
          ]
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "$callback",
          "type": "string"
        },
        {
          "default": "true",
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "$prettyPrint",
          "type": "boolean"
        },
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string",
          "x-google-enum-descriptions": [
            "v1 error format",
            "v2 error format"
          ]
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Deletes CachedContent resource.",
        "operationId": "DeleteCachedContent"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/CachedContent"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Reads CachedContent resource.",
        "operationId": "GetCachedContent"
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The list of fields to update.",
            "format": "google-fieldmask",
            "in": "query",
            "name": "updateMask",
            "pattern": "^(\\s*[^,\\s.]+(\\s*[,.]\\s*[^,\\s.]+)*)?$",
            "type": "string"
          },
          {
            "description": "Required. The content cache entry to update",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CachedContent"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/CachedContent"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Updates CachedContent resource (only expiration is updatable).",
        "operationId": "UpdateCachedContent"
      }
    },
    "/v1beta/corpora": {
      "parameters": [
        {
          "default": "json",
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "$alt",
          "type": "string",
          "x-google-enum-descriptions": [
            "Responses with Content-Type of application/json",
            "Media download with context-dependent Content-Type",
            "Responses with Content-Type of application/x-protobuf"
          ]
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "$callback",
          "type": "string"
        },
        {
          "default": "true",
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "$prettyPrint",
          "type": "boolean"
        },
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string",
          "x-google-enum-descriptions": [
            "v1 error format",
            "v2 error format"
          ]
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Optional. The maximum number of `Corpora` to return (per page).\nThe service may return fewer `Corpora`.\n\nIf unspecified, at most 10 `Corpora` will be returned.\nThe maximum size limit is 20 `Corpora` per page.",
            "format": "int32",
            "in": "query",
            "name": "pageSize",
            "type": "integer"
          },
          {
            "description": "Optional. A page token, received from a previous `ListCorpora` call.\n\nProvide the `next_page_token` returned in the response as an argument to\nthe next request to retrieve the next page.\n\nWhen paginating, all other parameters provided to `ListCorpora`\nmust match the call that provided the page token.",
            "in": "query",
            "name": "pageToken",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/ListCorporaResponse"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Lists all `Corpora` owned by the user.",
        "operationId": "ListCorpora"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Required. The `Corpus` to create.",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Corpus"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Corpus"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Creates an empty `Corpus`.",
        "operationId": "CreateCorpus"
      }
    },
    "/v1beta/corpora/{corpus}": {
      "parameters": [
        {
          "default": "json",
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "$alt",
          "type": "string",
          "x-google-enum-descriptions": [
            "Responses with Content-Type of application/json",
            "Media download with context-dependent Content-Type",
            "Responses with Content-Type of application/x-protobuf"
          ]
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "$callback",
          "type": "string"
        },
        {
          "default": "true",
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "$prettyPrint",
          "type": "boolean"
        },
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string",
          "x-google-enum-descriptions": [
            "v1 error format",
            "v2 error format"
          ]
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "corpus",
            "required": true,
            "type": "string"
          },
          {
            "description": "Optional. If set to true, any `Document`s and objects related to this `Corpus` will\nalso be deleted.\n\nIf false (the default), a `FAILED_PRECONDITION` error will be returned if\n`Corpus` contains any `Document`s.",
            "in": "query",
            "name": "force",
            "type": "boolean"
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Deletes a `Corpus`.",
        "operationId": "DeleteCorpus"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "corpus",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Corpus"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Gets information about a specific `Corpus`.",
        "operationId": "GetCorpus"
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "corpus",
            "required": true,
            "type": "string"
          },
          {
            "description": "Required. The list of fields to update.\nCurrently, this only supports updating `display_name`.",
            "format": "google-fieldmask",
            "in": "query",
            "name": "updateMask",
            "pattern": "^(\\s*[^,\\s.]+(\\s*[,.]\\s*[^,\\s.]+)*)?$",
            "required": true,
            "type": "string"
          },
          {
            "description": "Required. The `Corpus` to update.",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Corpus"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Corpus"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Updates a `Corpus`.",
        "operationId": "UpdateCorpus"
      }
    },
    "/v1beta/corpora/{corpus}/documents": {
      "parameters": [
        {
          "default": "json",
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "$alt",
          "type": "string",
          "x-google-enum-descriptions": [
            "Responses with Content-Type of application/json",
            "Media download with context-dependent Content-Type",
            "Responses with Content-Type of application/x-protobuf"
          ]
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "$callback",
          "type": "string"
        },
        {
          "default": "true",
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "$prettyPrint",
          "type": "boolean"
        },
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string",
          "x-google-enum-descriptions": [
            "v1 error format",
            "v2 error format"
          ]
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "corpus",
            "required": true,
            "type": "string"
          },
          {
            "description": "Optional. The maximum number of `Document`s to return (per page).\nThe service may return fewer `Document`s.\n\nIf unspecified, at most 10 `Document`s will be returned.\nThe maximum size limit is 20 `Document`s per page.",
            "format": "int32",
            "in": "query",
            "name": "pageSize",
            "type": "integer"
          },
          {
            "description": "Optional. A page token, received from a previous `ListDocuments` call.\n\nProvide the `next_page_token` returned in the response as an argument to\nthe next request to retrieve the next page.\n\nWhen paginating, all other parameters provided to `ListDocuments`\nmust match the call that provided the page token.",
            "in": "query",
            "name": "pageToken",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/ListDocumentsResponse"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Lists all `Document`s in a `Corpus`.",
        "operationId": "ListDocuments"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "corpus",
            "required": true,
            "type": "string"
          },
          {
            "description": "Required. The `Document` to create.",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Document"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Document"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Creates an empty `Document`.",
        "operationId": "CreateDocument"
      }
    },
    "/v1beta/corpora/{corpus}/documents/{document}": {
      "parameters": [
        {
          "default": "json",
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "$alt",
          "type": "string",
          "x-google-enum-descriptions": [
            "Responses with Content-Type of application/json",
            "Media download with context-dependent Content-Type",
            "Responses with Content-Type of application/x-protobuf"
          ]
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "$callback",
          "type": "string"
        },
        {
          "default": "true",
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "$prettyPrint",
          "type": "boolean"
        },
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string",
          "x-google-enum-descriptions": [
            "v1 error format",
            "v2 error format"
          ]
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "corpus",
            "required": true,
            "type": "string"
          },
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "document",
            "required": true,
            "type": "string"
          },
          {
            "description": "Optional. If set to true, any `Chunk`s and objects related to this `Document` will\nalso be deleted.\n\nIf false (the default), a `FAILED_PRECONDITION` error will be returned if\n`Document` contains any `Chunk`s.",
            "in": "query",
            "name": "force",
            "type": "boolean"
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Deletes a `Document`.",
        "operationId": "DeleteDocument"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "corpus",
            "required": true,
            "type": "string"
          },
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "document",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Document"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Gets information about a specific `Document`.",
        "operationId": "GetDocument"
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "corpus",
            "required": true,
            "type": "string"
          },
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "document",
            "required": true,
            "type": "string"
          },
          {
            "description": "Required. The list of fields to update.\nCurrently, this only supports updating `display_name` and\n`custom_metadata`.",
            "format": "google-fieldmask",
            "in": "query",
            "name": "updateMask",
            "pattern": "^(\\s*[^,\\s.]+(\\s*[,.]\\s*[^,\\s.]+)*)?$",
            "required": true,
            "type": "string"
          },
          {
            "description": "Required. The `Document` to update.",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Document"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Document"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Updates a `Document`.",
        "operationId": "UpdateDocument"
      }
    },
    "/v1beta/corpora/{corpus}/documents/{document}/chunks": {
      "parameters": [
        {
          "default": "json",
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "$alt",
          "type": "string",
          "x-google-enum-descriptions": [
            "Responses with Content-Type of application/json",
            "Media download with context-dependent Content-Type",
            "Responses with Content-Type of application/x-protobuf"
          ]
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "$callback",
          "type": "string"
        },
        {
          "default": "true",
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "$prettyPrint",
          "type": "boolean"
        },
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string",
          "x-google-enum-descriptions": [
            "v1 error format",
            "v2 error format"
          ]
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "corpus",
            "required": true,
            "type": "string"
          },
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "document",
            "required": true,
            "type": "string"
          },
          {
            "description": "Optional. The maximum number of `Chunk`s to return (per page).\nThe service may return fewer `Chunk`s.\n\nIf unspecified, at most 10 `Chunk`s will be returned.\nThe maximum size limit is 100 `Chunk`s per page.",
            "format": "int32",
            "in": "query",
            "name": "pageSize",
            "type": "integer"
          },
          {
            "description": "Optional. A page token, received from a previous `ListChunks` call.\n\nProvide the `next_page_token` returned in the response as an argument to\nthe next request to retrieve the next page.\n\nWhen paginating, all other parameters provided to `ListChunks`\nmust match the call that provided the page token.",
            "in": "query",
            "name": "pageToken",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/ListChunksResponse"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Lists all `Chunk`s in a `Document`.",
        "operationId": "ListChunks"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "corpus",
            "required": true,
            "type": "string"
          },
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "document",
            "required": true,
            "type": "string"
          },
          {
            "description": "Required. The `Chunk` to create.",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Chunk"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Chunk"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Creates a `Chunk`.",
        "operationId": "CreateChunk"
      }
    },
    "/v1beta/corpora/{corpus}/documents/{document}/chunks/{chunk}": {
      "parameters": [
        {
          "default": "json",
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "$alt",
          "type": "string",
          "x-google-enum-descriptions": [
            "Responses with Content-Type of application/json",
            "Media download with context-dependent Content-Type",
            "Responses with Content-Type of application/x-protobuf"
          ]
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "$callback",
          "type": "string"
        },
        {
          "default": "true",
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "$prettyPrint",
          "type": "boolean"
        },
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string",
          "x-google-enum-descriptions": [
            "v1 error format",
            "v2 error format"
          ]
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "corpus",
            "required": true,
            "type": "string"
          },
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "document",
            "required": true,
            "type": "string"
          },
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "chunk",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Deletes a `Chunk`.",
        "operationId": "DeleteChunk"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "corpus",
            "required": true,
            "type": "string"
          },
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "document",
            "required": true,
            "type": "string"
          },
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "chunk",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Chunk"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Gets information about a specific `Chunk`.",
        "operationId": "GetChunk"
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "corpus",
            "required": true,
            "type": "string"
          },
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "document",
            "required": true,
            "type": "string"
          },
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "chunk",
            "required": true,
            "type": "string"
          },
          {
            "description": "Required. The list of fields to update.\nCurrently, this only supports updating `custom_metadata` and `data`.",
            "format": "google-fieldmask",
            "in": "query",
            "name": "updateMask",
            "pattern": "^(\\s*[^,\\s.]+(\\s*[,.]\\s*[^,\\s.]+)*)?$",
            "required": true,
            "type": "string"
          },
          {
            "description": "Required. The `Chunk` to update.",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Chunk"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Chunk"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Updates a `Chunk`.",
        "operationId": "UpdateChunk"
      }
    },
    "/v1beta/corpora/{corpus}/documents/{document}/chunks:batchCreate": {
      "parameters": [
        {
          "default": "json",
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "$alt",
          "type": "string",
          "x-google-enum-descriptions": [
            "Responses with Content-Type of application/json",
            "Media download with context-dependent Content-Type",
            "Responses with Content-Type of application/x-protobuf"
          ]
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "$callback",
          "type": "string"
        },
        {
          "default": "true",
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "$prettyPrint",
          "type": "boolean"
        },
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string",
          "x-google-enum-descriptions": [
            "v1 error format",
            "v2 error format"
          ]
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "corpus",
            "required": true,
            "type": "string"
          },
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "document",
            "required": true,
            "type": "string"
          },
          {
            "description": "The request body.",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/BatchCreateChunksRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/BatchCreateChunksResponse"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Batch create `Chunk`s.",
        "operationId": "BatchCreateChunks"
      }
    },
    "/v1beta/corpora/{corpus}/documents/{document}/chunks:batchDelete": {
      "parameters": [
        {
          "default": "json",
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "$alt",
          "type": "string",
          "x-google-enum-descriptions": [
            "Responses with Content-Type of application/json",
            "Media download with context-dependent Content-Type",
            "Responses with Content-Type of application/x-protobuf"
          ]
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "$callback",
          "type": "string"
        },
        {
          "default": "true",
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "$prettyPrint",
          "type": "boolean"
        },
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string",
          "x-google-enum-descriptions": [
            "v1 error format",
            "v2 error format"
          ]
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "corpus",
            "required": true,
            "type": "string"
          },
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "document",
            "required": true,
            "type": "string"
          },
          {
            "description": "The request body.",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/BatchDeleteChunksRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Batch delete `Chunk`s.",
        "operationId": "BatchDeleteChunks"
      }
    },
    "/v1beta/corpora/{corpus}/documents/{document}/chunks:batchUpdate": {
      "parameters": [
        {
          "default": "json",
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "$alt",
          "type": "string",
          "x-google-enum-descriptions": [
            "Responses with Content-Type of application/json",
            "Media download with context-dependent Content-Type",
            "Responses with Content-Type of application/x-protobuf"
          ]
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "$callback",
          "type": "string"
        },
        {
          "default": "true",
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "$prettyPrint",
          "type": "boolean"
        },
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string",
          "x-google-enum-descriptions": [
            "v1 error format",
            "v2 error format"
          ]
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "corpus",
            "required": true,
            "type": "string"
          },
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "document",
            "required": true,
            "type": "string"
          },
          {
            "description": "The request body.",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/BatchUpdateChunksRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/BatchUpdateChunksResponse"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Batch update `Chunk`s.",
        "operationId": "BatchUpdateChunks"
      }
    },
    "/v1beta/corpora/{corpus}/documents/{document}:query": {
      "parameters": [
        {
          "default": "json",
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "$alt",
          "type": "string",
          "x-google-enum-descriptions": [
            "Responses with Content-Type of application/json",
            "Media download with context-dependent Content-Type",
            "Responses with Content-Type of application/x-protobuf"
          ]
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "$callback",
          "type": "string"
        },
        {
          "default": "true",
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "$prettyPrint",
          "type": "boolean"
        },
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string",
          "x-google-enum-descriptions": [
            "v1 error format",
            "v2 error format"
          ]
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "corpus",
            "required": true,
            "type": "string"
          },
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "document",
            "required": true,
            "type": "string"
          },
          {
            "description": "The request body.",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/QueryDocumentRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/QueryDocumentResponse"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Performs semantic search over a `Document`.",
        "operationId": "QueryDocument"
      }
    },
    "/v1beta/corpora/{corpus}/operations/{operation}": {
      "parameters": [
        {
          "default": "json",
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "$alt",
          "type": "string",
          "x-google-enum-descriptions": [
            "Responses with Content-Type of application/json",
            "Media download with context-dependent Content-Type",
            "Responses with Content-Type of application/x-protobuf"
          ]
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "$callback",
          "type": "string"
        },
        {
          "default": "true",
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "$prettyPrint",
          "type": "boolean"
        },
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string",
          "x-google-enum-descriptions": [
            "v1 error format",
            "v2 error format"
          ]
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "corpus",
            "required": true,
            "type": "string"
          },
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "operation",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice.",
        "operationId": "GetOperationByCorpusAndOperation",
        "x-google-operation-name": "GetOperation"
      }
    },
    "/v1beta/corpora/{corpus}/permissions": {
      "parameters": [
        {
          "default": "json",
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "$alt",
          "type": "string",
          "x-google-enum-descriptions": [
            "Responses with Content-Type of application/json",
            "Media download with context-dependent Content-Type",
            "Responses with Content-Type of application/x-protobuf"
          ]
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "$callback",
          "type": "string"
        },
        {
          "default": "true",
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "$prettyPrint",
          "type": "boolean"
        },
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string",
          "x-google-enum-descriptions": [
            "v1 error format",
            "v2 error format"
          ]
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "corpus",
            "required": true,
            "type": "string"
          },
          {
            "description": "Optional. The maximum number of `Permission`s to return (per page).\nThe service may return fewer permissions.\n\nIf unspecified, at most 10 permissions will be returned.\nThis method returns at most 1000 permissions per page, even if you pass\nlarger page_size.",
            "format": "int32",
            "in": "query",
            "name": "pageSize",
            "type": "integer"
          },
          {
            "description": "Optional. A page token, received from a previous `ListPermissions` call.\n\nProvide the `page_token` returned by one request as an argument to the\nnext request to retrieve the next page.\n\nWhen paginating, all other parameters provided to `ListPermissions`\nmust match the call that provided the page token.",
            "in": "query",
            "name": "pageToken",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/ListPermissionsResponse"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Lists permissions for the specific resource.",
        "operationId": "ListPermissionsByCorpus",
        "x-google-operation-name": "ListPermissions"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "corpus",
            "required": true,
            "type": "string"
          },
          {
            "description": "Required. The permission to create.",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Permission"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Permission"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Create a permission to a specific resource.",
        "operationId": "CreatePermissionByCorpus",
        "x-google-operation-name": "CreatePermission"
      }
    },
    "/v1beta/corpora/{corpus}/permissions/{permission}": {
      "parameters": [
        {
          "default": "json",
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "$alt",
          "type": "string",
          "x-google-enum-descriptions": [
            "Responses with Content-Type of application/json",
            "Media download with context-dependent Content-Type",
            "Responses with Content-Type of application/x-protobuf"
          ]
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "$callback",
          "type": "string"
        },
        {
          "default": "true",
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "$prettyPrint",
          "type": "boolean"
        },
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string",
          "x-google-enum-descriptions": [
            "v1 error format",
            "v2 error format"
          ]
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "corpus",
            "required": true,
            "type": "string"
          },
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "permission",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Deletes the permission.",
        "operationId": "DeletePermissionByCorpusAndPermission",
        "x-google-operation-name": "DeletePermission"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "corpus",
            "required": true,
            "type": "string"
          },
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "permission",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Permission"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Gets information about a specific Permission.",
        "operationId": "GetPermissionByCorpusAndPermission",
        "x-google-operation-name": "GetPermission"
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "corpus",
            "required": true,
            "type": "string"
          },
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "permission",
            "required": true,
            "type": "string"
          },
          {
            "description": "Required. The list of fields to update. Accepted ones:\n - role (`Permission.role` field)",
            "format": "google-fieldmask",
            "in": "query",
            "name": "updateMask",
            "pattern": "^(\\s*[^,\\s.]+(\\s*[,.]\\s*[^,\\s.]+)*)?$",
            "required": true,
            "type": "string"
          },
          {
            "description": "Required. The permission to update.\n\nThe permission's `name` field is used to identify the permission to update.",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Permission"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Permission"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Updates the permission.",
        "operationId": "UpdatePermissionByCorpusAndPermission",
        "x-google-operation-name": "UpdatePermission"
      }
    },
    "/v1beta/corpora/{corpus}:query": {
      "parameters": [
        {
          "default": "json",
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "$alt",
          "type": "string",
          "x-google-enum-descriptions": [
            "Responses with Content-Type of application/json",
            "Media download with context-dependent Content-Type",
            "Responses with Content-Type of application/x-protobuf"
          ]
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "$callback",
          "type": "string"
        },
        {
          "default": "true",
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "$prettyPrint",
          "type": "boolean"
        },
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string",
          "x-google-enum-descriptions": [
            "v1 error format",
            "v2 error format"
          ]
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "corpus",
            "required": true,
            "type": "string"
          },
          {
            "description": "The request body.",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/QueryCorpusRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/QueryCorpusResponse"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Performs semantic search over a `Corpus`.",
        "operationId": "QueryCorpus"
      }
    },
    "/v1beta/dynamic/{dynamicId}:generateContent": {
      "parameters": [
        {
          "default": "json",
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "$alt",
          "type": "string",
          "x-google-enum-descriptions": [
            "Responses with Content-Type of application/json",
            "Media download with context-dependent Content-Type",
            "Responses with Content-Type of application/x-protobuf"
          ]
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "$callback",
          "type": "string"
        },
        {
          "default": "true",
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "$prettyPrint",
          "type": "boolean"
        },
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string",
          "x-google-enum-descriptions": [
            "v1 error format",
            "v2 error format"
          ]
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Part of `model`. Required. The name of the `Model` to use for generating the completion.\n\nFormat: `models/{model}`.",
            "in": "path",
            "name": "dynamicId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The request body.",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/GenerateContentRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/GenerateContentResponse"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Generates a model response given an input `GenerateContentRequest`.\nRefer to the [text generation\nguide](https://ai.google.dev/gemini-api/docs/text-generation) for detailed\nusage information. Input capabilities differ between models, including\ntuned models. Refer to the [model\nguide](https://ai.google.dev/gemini-api/docs/models/gemini) and [tuning\nguide](https://ai.google.dev/gemini-api/docs/model-tuning) for details.",
        "operationId": "GenerateContentByDynamicId",
        "x-google-operation-name": "GenerateContent"
      }
    },
    "/v1beta/dynamic/{dynamicId}:streamGenerateContent": {
      "parameters": [
        {
          "default": "json",
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "$alt",
          "type": "string",
          "x-google-enum-descriptions": [
            "Responses with Content-Type of application/json",
            "Media download with context-dependent Content-Type",
            "Responses with Content-Type of application/x-protobuf"
          ]
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "$callback",
          "type": "string"
        },
        {
          "default": "true",
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "$prettyPrint",
          "type": "boolean"
        },
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string",
          "x-google-enum-descriptions": [
            "v1 error format",
            "v2 error format"
          ]
        }
      ],
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Part of `model`. Required. The name of the `Model` to use for generating the completion.\n\nFormat: `models/{model}`.",
            "in": "path",
            "name": "dynamicId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The request body.",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/GenerateContentRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/GenerateContentResponse"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Generates a [streamed\nresponse](https://ai.google.dev/gemini-api/docs/text-generation?lang=python#generate-a-text-stream)\nfrom the model given an input `GenerateContentRequest`.",
        "operationId": "StreamGenerateContentByDynamicId",
        "x-google-operation-name": "StreamGenerateContent"
      }
    },
    "/v1beta/files": {
      "parameters": [
        {
          "default": "json",
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "$alt",
          "type": "string",
          "x-google-enum-descriptions": [
            "Responses with Content-Type of application/json",
            "Media download with context-dependent Content-Type",
            "Responses with Content-Type of application/x-protobuf"
          ]
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "$callback",
          "type": "string"
        },
        {
          "default": "true",
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "$prettyPrint",
          "type": "boolean"
        },
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string",
          "x-google-enum-descriptions": [
            "v1 error format",
            "v2 error format"
          ]
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Optional. Maximum number of `File`s to return per page.\nIf unspecified, defaults to 10. Maximum `page_size` is 100.",
            "format": "int32",
            "in": "query",
            "name": "pageSize",
            "type": "integer"
          },
          {
            "description": "Optional. A page token from a previous `ListFiles` call.",
            "in": "query",
            "name": "pageToken",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/ListFilesResponse"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Lists the metadata for `File`s owned by the requesting project.",
        "operationId": "ListFiles"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The request body.",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CreateFileRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/CreateFileResponse"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Creates a `File`.",
        "operationId": "CreateFile"
      }
    },
    "/v1beta/files/{file}": {
      "parameters": [
        {
          "default": "json",
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "$alt",
          "type": "string",
          "x-google-enum-descriptions": [
            "Responses with Content-Type of application/json",
            "Media download with context-dependent Content-Type",
            "Responses with Content-Type of application/x-protobuf"
          ]
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "$callback",
          "type": "string"
        },
        {
          "default": "true",
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "$prettyPrint",
          "type": "boolean"
        },
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string",
          "x-google-enum-descriptions": [
            "v1 error format",
            "v2 error format"
          ]
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "file",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Deletes the `File`.",
        "operationId": "DeleteFile"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "file",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/File"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Gets the metadata for the given `File`.",
        "operationId": "GetFile"
      }
    },
    "/v1beta/files/{file}:download": {
      "parameters": [
        {
          "default": "json",
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "$alt",
          "type": "string",
          "x-google-enum-descriptions": [
            "Responses with Content-Type of application/json",
            "Media download with context-dependent Content-Type",
            "Responses with Content-Type of application/x-protobuf"
          ]
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "$callback",
          "type": "string"
        },
        {
          "default": "true",
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "$prettyPrint",
          "type": "boolean"
        },
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string",
          "x-google-enum-descriptions": [
            "v1 error format",
            "v2 error format"
          ]
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "file",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DownloadFileResponse"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Download the `File`.",
        "operationId": "DownloadFile"
      }
    },
    "/v1beta/generatedFiles": {
      "parameters": [
        {
          "default": "json",
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "$alt",
          "type": "string",
          "x-google-enum-descriptions": [
            "Responses with Content-Type of application/json",
            "Media download with context-dependent Content-Type",
            "Responses with Content-Type of application/x-protobuf"
          ]
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "$callback",
          "type": "string"
        },
        {
          "default": "true",
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "$prettyPrint",
          "type": "boolean"
        },
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string",
          "x-google-enum-descriptions": [
            "v1 error format",
            "v2 error format"
          ]
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Optional. Maximum number of `GeneratedFile`s to return per page.\nIf unspecified, defaults to 10. Maximum `page_size` is 50.",
            "format": "int32",
            "in": "query",
            "name": "pageSize",
            "type": "integer"
          },
          {
            "description": "Optional. A page token from a previous `ListGeneratedFiles` call.",
            "in": "query",
            "name": "pageToken",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/ListGeneratedFilesResponse"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Lists the generated files owned by the requesting project.",
        "operationId": "ListGeneratedFiles"
      }
    },
    "/v1beta/generatedFiles/{generatedFile}": {
      "parameters": [
        {
          "default": "json",
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "$alt",
          "type": "string",
          "x-google-enum-descriptions": [
            "Responses with Content-Type of application/json",
            "Media download with context-dependent Content-Type",
            "Responses with Content-Type of application/x-protobuf"
          ]
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "$callback",
          "type": "string"
        },
        {
          "default": "true",
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "$prettyPrint",
          "type": "boolean"
        },
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string",
          "x-google-enum-descriptions": [
            "v1 error format",
            "v2 error format"
          ]
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "generatedFile",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/GeneratedFile"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Gets a generated file. When calling this method via REST, only the metadata\nof the generated file is returned. To retrieve the file content via REST,\nadd alt=media as a query parameter.",
        "operationId": "GetGeneratedFile"
      }
    },
    "/v1beta/generatedFiles/{generatedFile}/operations/{operation}": {
      "parameters": [
        {
          "default": "json",
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "$alt",
          "type": "string",
          "x-google-enum-descriptions": [
            "Responses with Content-Type of application/json",
            "Media download with context-dependent Content-Type",
            "Responses with Content-Type of application/x-protobuf"
          ]
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "$callback",
          "type": "string"
        },
        {
          "default": "true",
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "$prettyPrint",
          "type": "boolean"
        },
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string",
          "x-google-enum-descriptions": [
            "v1 error format",
            "v2 error format"
          ]
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "generatedFile",
            "required": true,
            "type": "string"
          },
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "operation",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice.",
        "operationId": "GetOperationByGeneratedFileAndOperation",
        "x-google-operation-name": "GetOperation"
      }
    },
    "/v1beta/models": {
      "parameters": [
        {
          "default": "json",
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "$alt",
          "type": "string",
          "x-google-enum-descriptions": [
            "Responses with Content-Type of application/json",
            "Media download with context-dependent Content-Type",
            "Responses with Content-Type of application/x-protobuf"
          ]
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "$callback",
          "type": "string"
        },
        {
          "default": "true",
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "$prettyPrint",
          "type": "boolean"
        },
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string",
          "x-google-enum-descriptions": [
            "v1 error format",
            "v2 error format"
          ]
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The maximum number of `Models` to return (per page).\n\nIf unspecified, 50 models will be returned per page.\nThis method returns at most 1000 models per page, even if you pass a larger\npage_size.",
            "format": "int32",
            "in": "query",
            "name": "pageSize",
            "type": "integer"
          },
          {
            "description": "A page token, received from a previous `ListModels` call.\n\nProvide the `page_token` returned by one request as an argument to the next\nrequest to retrieve the next page.\n\nWhen paginating, all other parameters provided to `ListModels` must match\nthe call that provided the page token.",
            "in": "query",
            "name": "pageToken",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/ListModelsResponse"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Lists the [`Model`s](https://ai.google.dev/gemini-api/docs/models/gemini)\navailable through the Gemini API.",
        "operationId": "ListModels"
      }
    },
    "/v1beta/models/{model}": {
      "parameters": [
        {
          "default": "json",
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "$alt",
          "type": "string",
          "x-google-enum-descriptions": [
            "Responses with Content-Type of application/json",
            "Media download with context-dependent Content-Type",
            "Responses with Content-Type of application/x-protobuf"
          ]
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "$callback",
          "type": "string"
        },
        {
          "default": "true",
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "$prettyPrint",
          "type": "boolean"
        },
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string",
          "x-google-enum-descriptions": [
            "v1 error format",
            "v2 error format"
          ]
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "name": "model",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Model"
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ],
        "description": "Gets information about a specific `Model` such as its version number, token\nlimits,\n[parameters](https://ai.google.dev/gemini-api/docs/models/generative-models#model-parameters)\nand other metadata. Refer to the [Gemini models\nguide](https://ai.google.dev/gemini-api/docs/models/gemini) for detailed\nmodel information.",
        "operationId": "GetModel"
      }
    },
    "/v1beta/models/{model}/operations": {
      "parameters": [
        {
          "default": "json",
          "description": "Data format for response.",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "in": "query",
          "name": "$alt",
          "type": "string",
          "x-google-enum-descriptions": [
            "Responses with Content-Type of application/json",
            "Media download with context-dependent Content-Type",
            "Responses with Content-Type of application/x-protobuf"
          ]
        },
        {
          "description": "JSONP",
          "in": "query",
          "name": "$callback",
          "type": "string"
        },
        {
          "default": "true",
          "description": "Returns response with indentations and line breaks.",
          "in": "query",
          "name": "$prettyPrint",
          "type": "boolean"
        },
        {
          "description": "V1 error format.",
          "enum": [
            "1",
            "2"
          ],
          "in": "query",
          "name": "$.xgafv",
          "type": "string",
          "x-google-enum-descriptions": [
            "v1 error format",
            "v2 error format"
          ]
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
[...]
